<div class="col-md-12" style="margin-top: 30px;" *ngIf="posts.length > 0">
  <ul class="list-group" >
    <li class="list-group-item" *ngFor="let post of posts">
      <div class="row" *ngIf="post.complete === false">
        <div class="col-md-1">
          <input id="new-checkbox-{{post.id}}" class="toggle" type="checkbox" (click)="toggleComplete(post)" [checked]="post.complete">
        </div>
        <div class="col-md-9">
          <label for="new-checkbox-{{post.id}}">{{ post.content }}</label>
        </div>
        <div class="col-md-2">
          <button class="btn btn-danger pull-right" (click)="onDelete(post.id)" style="padding: 1px 6px"><span class="glyphicon glyphicon-trash" style="font-size: 10px"></span></button>
        </div>
      </div>
    </li>
  </ul>
  <hr>
  <h2>Done</h2>
  <ul class="list-group" *ngIf="posts.length > 0">
    <li class="list-group-item" *ngFor="let post of posts">
      <div class="row" *ngIf="post.complete === true">
        <div class="col-md-1">
          <input id="completed-checkbox-{{post.id}}" class="toggle" type="checkbox" (click)="toggleComplete(post)" [checked]="post.complete">
        </div>
        <div class="col-md-9">
          <label for="completed-checkbox-{{post.id}}"><del style="color: #b8b8b8">{{ post.content }}</del></label>
        </div>
        <div class="col-md-2">
          <button class="btn btn-danger pull-right" (click)="onDelete(post.id)" style="padding: 1px 6px"><span class="glyphicon glyphicon-trash" style="font-size: 10px"></span></button>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="col-md-12 if-empty-msg" *ngIf="posts.length <= 0">
  <p id="message">No Tasks</p>
</div>
