<div class="row" style="margin-top: 30px;">
  <div class="col-md-12">
    <ul class="list-group" *ngIf="posts.length > 0">
      <li class="list-group-item" *ngFor="let post of posts">
        <div class="row">
          <div class="col-md-1">
            <input type="checkbox" class="checkbox">
          </div>
          <div class="col-md-9">
            {{ post.content }}
          </div>
          <div class="col-md-2">
            <span class="badge center-block">Delete</span>
          </div>
        </div>
      </li>
    </ul>
    <p *ngIf="posts.length <= 0" style="text-align: center; font-size: 1.7rem">No Tasks</p>
  </div>
</div>
